header {
  /* border: 3px solid red; */
  text-align: center;
  justify-content: center;
  display: flex;
  background-color:blue;
  color: white;
}

.weatherCards {
  border: 3px solid grey;
  display: flex;
  justify-content: space-between;
}

.days {
  background-color: black;
  color: white;
}